*{
    overflow:hidden;
    box-sizing:border-box;
}

button, label{
    font-size:24px;
}




table{
    border-collapse:separate;
    border-spacing: 0;
    word-wrap:break-word;
    table-layout: fixed;
}

table >  *{
    font-size:24px;
}

.clickable-row:hover{
    cursor: pointer;
    background-color: #EAAA00;
}


.main-header{
    font-size:64px !important;
}

.search-add{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.search-input{
    width:400px;
}

.add-tenant{
    display:block;
    margin-top:auto;
    margin-right:20px;

    margin-bottom:auto;
}

.tenant-table{
    position:relative;
    display:block;
    overflow: auto;
    height:650px;
    table-layout: fixed;
    width:100%;
    word-break: break-word;
}

.navigation{
    color:white !important;

}

.navigation:hover{
    color:black !important;
    background-color:white !important;

}






.expensebutton{
    display:block;
    margin-left:auto;
    margin-right:50px;
}

.tenant-table-header > th{
    position:sticky;
    top:0;
    width:10000px;
    background-color:#FFFFCC;
}

.nav-link{
    display:block;
    margin-right:auto;
    margin-left:auto;
    font-size:24px;
}

.room-table{
    position:relative;
    display:block;
    overflow: auto;
    height:650px;
    table-layout: fixed;
    width:100%;
    word-break: break-word;
}

.room-table-header > th{
    position:sticky;
    top:0;
    width:1000px;
    background-color:#FFFFCC;
}

.parent-container{
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


a {
    width: 100%;
    color: white;
    text-decoration: none;
}

.box{
    padding:50px;
    background-color: #14E2FF;
    margin:30px;
    width:400px;
    font-size:24px;
    position:relative;
}

.box > .box-header{
    font-size:36px !important;
}



.dashboard-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}

.main-container{
    background-color:#FFFFCC;
}

.direct-button{
    background-color: #03004E;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    text-align: center;
    font-size:36px !important;
    margin:auto;

}

.tenant-count,.amount-pay,.amount-expenses{
    font-size:48px;
}


.sidebar{
    position:relative;
}

.logout{
    position:absolute;
    bottom:0;
    border-top: 3px solid white !important;
}

.sidebar-heading{
    background-color: #EAAA00 !important;
    border-bottom: 3px solid white !important;
}

.tenant-photo, .landlord-photo{
    width:250px;
    height:250px;
}

.text-information{
    margin-bottom:0;
}

.edit-landlord{
    background-color:transparent;
    margin-right:20px;

}


.sideheading{
    font-size:24px;

}

.room-settings{
    display:flex;
    justify-content: space-between;
}

#searchname{
    width:40%;
}

.tenants-header{
    margin-left:auto;
}




