*{

    box-sizing:border-box;
}

button, label{
    font-size:24px;
}

a{
    text-decoration: none;
}




table{
    border-collapse:separate;
    border-spacing: 0;
    word-wrap:break-word;
    table-layout: fixed;
}

table >  *{
    font-size:24px;
}

.login-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}


.clickable-row:hover{
    cursor: pointer;
    background-color: #EAAA00;
}


.main-header{
    font-size:64px !important;
    font-weight:bold;
}

.search-add{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.search-input{
    width:400px;
}

.add-tenant{
    display:block;
    margin-top:auto;
    margin-right:20px;

    margin-bottom:auto;
}

.admin{
    display:flex;
    justify-content: end;
    margin-top:20px;
    margin-right:20px;


}

.admin-button{
    font-size:20px;
    padding:20px;
}


.navigation{
    color:white !important;

}

.navigation:hover{
    color:black !important;
    background-color:white !important;

}

.report-box{
    
    height:300px;
    display:flex;
    align-items: center;
}




.tenant-table-header > th{
    position:sticky;
    top:0;
    width:10000px;
    background-color:#FFFFCC;
}

.nav-link{
    display:block;
    margin-right:auto;
    margin-left:auto;
    font-size:24px;
}



.expense-table, .room-table, .payment-table, .tenant-table{
    position:relative;
    display:block;
    overflow: auto;
    height:550px;
    table-layout: fixed;
    width:100%;
    word-break: break-word;

}

.report-expense-table{
    position:relative;
    display:block;
    overflow: auto;
    height:300px;
    table-layout: fixed;
    width:100%;
    word-break: break-word;

}

.room-table-header > th, .payment-table-header > th, .expense-table-header > th{
    position:sticky;
    top:0;
    width:1000px;
    background-color:#FFFFCC;
}

.report-table-header > th {
    position:sticky;
    top:0;
    width:1000px;
    background-color:white;
}

.parent-container{
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.expenseButton, .paymentButton, .add-tenant, .addroombutton{
    margin-right:20px !important;
}


a {
    width: 100%;
    color: white;
    text-decoration: none;
}



.box{
    padding:50px;
    background-color: #52b2bf;
    margin:30px;
    width:400px;
    font-size:24px;
    position:relative;


}

.box > *{
    font-weight:bold;
}

.box > .box-header{
    font-size:36px !important;
}



.dashboard-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}

.main-container{
    background-color:#FFFFCC;
    height:100vh;
    overflow-y:scroll;
}

.layout{
    height:100vh;
}

.direct-button{
    background-color: #03004E;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    text-align: center;
    font-size:36px !important;
    margin:auto;

}

.tenant-count,.amount-pay,.amount-expenses{
    font-size:48px;
}


.sidebar{
    position:relative;
}

.logout{
    position:absolute;
    bottom:0;
    border-top: 3px solid white !important;
}

.sidebar-heading{
    background-color: #EAAA00 !important;
    border-bottom: 3px solid white !important;
}

.tenant-photo, .landlord-photo{
    width:250px;
    height:250px;
}

.text-information{
    margin-bottom:0;
}

.edit-landlord{
    background-color:transparent;
    margin-right:20px;
    margin-bottom:20px;
}

.form-inputs{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


.sideheading{
    font-size:36px;
    font-weight:bold;
}

.modal-content{
    border:0
}

.room-settings{
    display:flex;
    justify-content: space-between;
}

#searchname{
    width:40%;
}

.tenants-header{
    margin-left:auto;
}

.logout-container{

    display:flex;
    justify-content: end;
    margin-top:20px;
    margin-right:20px;
}

.logoutButton{
    font-size:20px;
    padding:20px;
}





@media print{
    body *{
        visibility: hidden;

    }

    .print-area, .print-area *{
        visibility: visible;
        height:auto !important;
        overflow:visible;
    }


    .print-area{
        position: absolute;
        left:0;
        top:0;
    }




}








